---
---

@import "minimal-light-no-dark-mode";

/* Custom overrides */
.navigation {
  margin-top: 0; /* Ensure no extra space in navigation */
}

body, html {
  padding: 0 !important;
  margin: 0 !important;
}

.wrapper {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

header {
  padding-top: 0 !important;
  margin-top: 0 !important; 
  top: 0;
}

section {
  padding-top: 0 !important;
  margin-top: 0 !important;
}
